.input {
  color: var(--dark);
  border: none;
  outline: none;
  padding: 15px;
  background-color: var(--grey-white);
  font-weight: 600;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__subtitle {
    margin: 4px 0;
    text-transform: uppercase;
  }

  &::placeholder {
    opacity: var(--opacity-sm);
  }

  &:hover::placeholder {
    opacity: var(--opacity-md);
  }

  &_error {
    border: 2px solid var(--error);
  }
}
