.sizes-mark__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  &-item {
    padding: 7px;
    background-color: var(--grey-white);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-md);
    cursor: pointer;
    border: 1px solid var(--grey-white);
    &:hover {
      transform: scale(1.1);
      border-color: black;
    }

    &_active {
      border-color: black;
    }
    & > span {
      line-height: 1;
      opacity: 0.8;
    }
  }
  &_error {
    padding-top: 5px;
    color: red;
  }
}
