.header-nav {
  &__list {
    display: flex;
    column-gap: 30px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      row-gap: 5px;
      justify-content: space-between;
      text-align: center;
    }

    @media (max-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    @media (max-width: 1024px) {
      width: 25%;
    }
  }

  @media (max-width: 560px) {
    display: none;
  }
}
