* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

#root {
  font-family: "League Spartan", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark);
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background: none;
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: none;
  display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: none;
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: none;
  display: none;
}
// background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L1 15' stroke='%23121212' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
//swiper
.image-descr__arrow {
}
