:root {
  --dark: #121212;
  --grey: #e5e5e5;
  --grey-white: #f8f8f8;
  --grey-dark: #9c9c9c;
  --white: #ffffff;
  --sale: #e91e63;
  -yellow: #f0cc84;
  --error: #d61313;
  --success: #0bb17f;

  --dark-shadow: (18, 18, 18, 0, 4);
  --white-shadow: (255, 255, 255, 0, 8);

  --font-lg: 16px;
  --font-md: 14px;
  --font-sm: 12px;
  --font-ex-sm: 11px;

  --font-btn: 11px;

  --transition-md: 0.25s;
}
