.shopping-card {
  width: 370px;
  position: fixed;
  transform: translateX(100%);
  height: 100vh;
  top: 0;
  right: 0;
  background: white;
  z-index: 10;
  padding: 10px;
  &__title {
    color: white;
    padding: 10px;
    &-block {
      display: flex;
      vertical-align: middle;
      background: var(--dark);
      margin: -10px;
      padding-bottom: 0;
      margin-bottom: 5px;
    }
  }
  &__nav-list {
    display: flex;
    margin: 10px 0;
    text-transform: capitalize;
    &-item {
      margin-right: 5px;
      cursor: pointer;

      &:nth-child(n + 2) {
        &::before {
          margin-right: 5px;
          content: "/";
        }
      }
    }
  }
  &__price {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    &_close {
      margin-left: auto;
      cursor: pointer;
    }
    &_next {
      margin-top: auto;
      width: 100%;
    }
  }
  &_active {
    transform: translateX(0);
  }
}
