.small-clothes-item {
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  cursor: pointer;
  gap: 10px;
  transition: var(--transition-md);
  min-height: 120px;

  &__img {
    max-height: 140px;
    max-width: 100px;
    object-fit: cover;
  }

  &__info {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 5px 0;
    &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      &__block {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        align-items: center;
      }

      &__badge {
        padding: 7px;
        background: var(--sale);
        color: var(--white);
      }
    }

    &__price__list {
      display: flex;
      flex-direction: column;
      &-item {
        display: grid;
        grid-template-columns: 150px 150px auto;
        grid-template-rows: 1fr;

        &__total {
          display: flex;
          justify-content: end;
        }
      }
    }
  }

  &:hover {
    background: var(--grey);
  }
}
